.block{
    background-color: black;
    color: white;
    padding-left: 10px;
}

/*MENU BAR*/
.menu {
    font: bold 30px Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    background-color: cornflowerblue;
    color: black;
    border-radius: 10px;
    padding: 1px 10px 1px 10px;
    border-top: 0px solid #000000;
    border-right: 0px solid #000000;
    border-bottom: 0px solid #000000;
    border-left: 0px solid #000000;
    text-align: center;
}
.menu:hover{
    font: bold 30px Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    background-color: cornflowerblue;
    color: lightgray;
    border-radius: 10px;
    padding: 1px 10px 1px 10px;
    border-top: 0px solid #000000;
    border-right: 0px solid #000000;
    border-bottom: 0px solid #000000;
    border-left: 0px solid #000000;
    text-align: center;
}
.select {
    font: bold 30px Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    /*background: linear-gradient(to bottom, darkblue 0%, darkslateblue 100%);*/
    background-color: cornflowerblue;
    color: white;
    border-radius: 10px;
    padding: 1px 10px 1px 10px;
    border-top: 0px solid #000000;
    border-right: 0px solid #000000;
    border-bottom: 0px solid #000000;
    border-left: 0px solid #000000;
    text-align: center;
}
.menubar{
    background-color:cornflowerblue;
    color:white;
    padding:1px;
}