.u-section-1 .u-sheet-1 {min-height: 890px}
.u-section-1 .u-text-1 {margin: 0}
.u-section-1 .u-text-2 {margin: 20px auto 0}
.u-section-1 .u-image-1 {width: 475px; height: 267px; margin: 192px 69px 0 auto}
.u-section-1 .u-image-2 {width: 570px; height: 285px; margin: -373px auto 0 197px}
.u-section-1 .u-text-3 {margin: -351px auto 0}
.u-section-1 .u-btn-1 {padding: 0}
.u-section-1 .u-text-4 {font-size: 2.25rem; margin: 148px 577px 0 53px}
.u-section-1 .u-text-5 {margin: 69px 1px 60px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 889px}
.u-section-1 .u-text-1 {margin-right: 163px}
.u-section-1 .u-image-1 {margin-top: 269px}
.u-section-1 .u-image-2 {margin-top: -360px}
.u-section-1 .u-text-3 {margin-top: -441px}
.u-section-1 .u-text-4 {margin-top: -72px; margin-right: 1px; margin-left: 0}
.u-section-1 .u-text-5 {margin-left: 0; margin-right: 0} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {margin-right: 125px}
.u-section-1 .u-image-1 {margin-top: 345px}
.u-section-1 .u-image-2 {margin-left: 150px}
.u-section-1 .u-text-3 {margin-top: -517px} }

@media (max-width: 767px){ .u-section-1 .u-text-1 {margin-right: 94px}
.u-section-1 .u-image-1 {margin-top: 421px; margin-right: 65px}
.u-section-1 .u-image-2 {width: 540px; height: 270px; margin-top: -343px; margin-left: 0}
.u-section-1 .u-text-3 {margin-top: -595px}
.u-section-1 .u-text-4 {margin-top: -56px} }

@media (max-width: 575px){ .u-section-1 .u-text-1 {margin-right: 59px}
.u-section-1 .u-image-1 {width: 340px; height: 191px; margin-top: 821px; margin-right: 0}
.u-section-1 .u-image-2 {width: 340px; height: 170px; margin-top: -230px}
.u-section-1 .u-text-3 {margin-top: -932px}
.u-section-1 .u-text-4 {margin-top: 134px} }