.u-section-1 .u-sheet-1 {min-height: 731px}
.u-section-1 .u-text-1 {margin: 20px auto 0}
.u-section-1 .u-text-2 {margin: 20px auto 0}
.u-section-1 .u-text-3 {font-weight: 700; margin: 33px auto 0}
.u-section-1 .u-text-4 {margin: 0 106px}
.u-section-1 .u-text-5 {font-weight: 700; width: 57px; margin: 20px auto 0}
.u-section-1 .u-text-6 {margin: 13px 121px 0 106px}
.u-section-1 .u-text-7 {margin: 20px auto 20px 0} 

@media (max-width: 1199px){ .u-section-1 .u-text-4 {margin-left: 6px; margin-right: 6px}
.u-section-1 .u-text-5 {height: 38px}
.u-section-1 .u-text-6 {margin-left: 6px; margin-right: 21px} }

@media (max-width: 991px){ .u-section-1 .u-text-4 {margin-left: 0; margin-right: 0}
.u-section-1 .u-text-6 {margin-left: 0; margin-right: 0} }